NEXT_PUBLIC_SUPABASE_URL=povsjizppfolannskhah.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBvdnNqaXpwcGZvbGFubnNraGFoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc0NTk4MTQsImV4cCI6MjA5MzAzNTgxNH0.k-R6l3BuHTSEf0G0jrFikUUft0dceRSI2tC95nMYJ74
